<!DOCTYPE html>
<html lang="ko">

{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K65J7Q"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
  {% include footer.html %}
  {% include javascripts.html %}
</body>

</html>
